.navbar {
    float: none;
    text-align: center;
}

.weather-search {
    background-color: aqua;

}

.weather-results {
    float: right;
}
.low {
    background-color: green;
}
.moderate {
    background-color: orange;
}
.high {
    background-color: red;
}
.five-day {
    background-color: blue;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.container {
    margin: 0 !important;
}

.forecast {
    margin-left: 0;
}